<a
    href='{{ card_product.url }}'
    id='StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }}'
    class='full-unstyled-link'
    aria-labelledby='StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}'
>
    <h3>{{ card_product.title | escape }}</h3>
</a>
