{%- if article and article != empty -%}
    {%- if show_image -%}
        <div class="footer-blog-post__madia-wrapper">
            <picture class="footer-blog-post__media media media__size--{{ image_size }}">
                <img
                srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                    {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: 1440px) {{ '1440px' | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="footer-blog-post__image media__image"
                loading="lazy"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                >
            </picture>
        </div>
    {%- endif -%}
    <div class="footer-blog-post__content">
        {%- if show_date -%}
            <span class="footer-blog-post__date">{{ article.published_at | time_tag: format: 'date' }}</span>
        {%- endif -%}
        <h4 class="footer-blog-post__title">
            <a href="{{ article.url }}">
                {{ article.title | truncate: 30 | escape }}
            </a>
        </h4>
    </div>
{%- endif -%}
