<variant-selects
    class='selects-wrap'
    data-section='{{ section.id }}-{{ product.id }}'
    data-url='{{ product.url }}'
    {{ block.shopify_attributes }}
>
    {%- for option in product.options_with_values -%}
        <div class='product-form__input product-form__input--dropdown'>
            <label class='form__label' for='Option-{{ section.id }}-{{ forloop.index0 }}'> {{ option.name }}: </label>
            <div class='select'>
                <select
                    id='Option-{{ section.id }}-{{ forloop.index0 }}'
                    class='select__select'
                    name='options[{{ option.name | escape }}]'
                    form='product-form-{{ section.id }}'
                >
                    {%- for value in option.values -%}
                        <option
                            value='{{ value | escape }}'
                            {% if option.selected_value == value %}
                                selected='selected'
                            {% endif %}
                        >
                            {{ value }}
                        </option>
                    {%- endfor -%}
                </select>
            </div>
        </div>
    {%- endfor -%}
    <script type='application/json'>
        {{ product.variants | json }}
    </script>
    <select
        name='id'
        id='ProductSelect-{{ product.id }}'
        class='card-product__variants no-js'
        data-product-select
    >
        {% for variant in product.variants %}
            {% if variant.available %}
                <option
                    {% if variant == product.selected_or_first_available_variant %}
                        selected='selected'
                    {% endif %}
                    data-sku='{{ variant.sku }}'
                    data-qty='{{ variant.inventory_quantity }}'
                    data-inventory-policy='{{ variant.inventory_policy }}'
                    value='{{ variant.id }}'
                >
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>

            {% else %}
                <option disabled='disabled'>{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <div>
        <quantity-input class='quantity'>
            <button
                class='quantity__button quantity__button--minus no-js-hidden'
                name='minus'
                type='button'
            >
                <span class='visually-hidden'>Decrease quantity for Liveli Scallop Hem Sports Bra</span>
                {% render 'icon-minus' %}
            </button>
            <input
                class='quantity__input quantity-selector js-quantity'
                type='number'
                name='quantity'
                id='Quantity-{{ product.id }}'
                min='1'
                step='1'
                value='1'
                {% if product.selected_or_first_available_variant.inventory_management == 'shopify'
                    and product.selected_or_first_available_variant.inventory_policy != 'continue'
                %}
                    max='{{ product.selected_or_first_available_variant.inventory_quantity }}'
                {% endif %}
            >
            <button class='quantity__button quantity__button--plus no-js-hidden' name='plus' type='button'>
                <span class='visually-hidden'>Increase quantity for Liveli Scallop Hem Sports Bra</span>
                {% render 'icon-plus' %}
            </button>
        </quantity-input>
    </div>
    <button
        type='submit'
        name='add'
        id='AddToCart-{{ product.id }}'
        class='button--secondary js-btn-cart'
    >
        <span id='AddToCartText'>{{ 'products.product.add_to_cart' | t }}</span>
    </button>
    <div data-ajax-cart-messages='form'></div>
</variant-selects>
