{% liquid
  assign enable_sticky_header = section.settings.enable_sticky_header
  assign menu = section.settings.menu
  assign logo = section.settings.logo
  assign logo_alt = section.settings.logo.alt | default: shop.name | escape
  assign logo_width= section.settings.logo_width
  assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio
  assign background_color = section.settings.background_color
  assign search_background_color = section.settings.search_background_color
  assign text_color = section.settings.text_color
  assign badge_color = section.settings.badge_color
  assign blocks = section.blocks
%}

{% capture styles %}
  --header-background-color: {{ background_color }};
  --header-text-color: {{ text_color }};
  --header-badge-color: {{ badge_color }};
  --header-search-background-color: {{ search_background_color }};
  --header-logo-width: {{ logo_width }}px;
{% endcapture %}

{% assign styles = styles | strip_newlines %}

<link
  rel="stylesheet"
  href="{{ 'section-header.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<link
  rel="stylesheet"
  href="{{ 'component-mega-menu.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<link
  rel="stylesheet"
  href="{{ 'component-mobile-menu.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<noscript>{{ 'section-header.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-mobile-menu.css' | asset_url | stylesheet_tag }}</noscript>

<sticky-header
  id="shopify-section-header"
  class="header-wrapper"
  style="{{- styles -}}">
  <header class="header js-header">
    <div class="header__wrapper page-width">
      <div class="header__icon-open">
        <a
          class="js-menu-toggle focus-inset"
          data-id="MegaMenu"
          href="#MobileMenuOpen"
          aria-label="{{ 'accessibility.menu_open' | t }}">
          {% render 'icon-hamburger' %}
        </a>
      </div>
      <span class="header__menu--overlay js-mobile-menu-overlay"></span>
      <nav
        id="MegaMenu"
        class="header__menu header__menu--mobile js-mobile-menu"
        tabindex="-1">
        <div class="header__icon-box">
          <a
            class="header__icon-close js-menu-toggle"
            href="#MobileMenuClose"
            aria-label="{{ 'accessibility.menu_close' | t }}">
            {% render 'icon-close' %}
          </a>
        </div>
        <div class="header__menu__inner-container">
          <div class="header__menu__navigation-container">
            {% if menu.links.size > 0 %}
              <ul class="header__menu-list header__menu-list--mobile">
                {% for link in menu.links %}
                  {% capture mega_menu_snippet %}
                    {% for block in blocks %}
                      {% case block.type %}
                        {% when 'simple_linklist' %}

                        {% render 'mega-menu-simle-nav', block: block, link: link %}

                        {% when 'mega_menu_three' %}

                        {% render 'mega-menu-three-nav', block: block, link: link %}

                        {% when 'mega_menu_four' %}

                        {% render 'mage-menu-four-nav', block: block, link: link %}

                      {% endcase %}
                    {% endfor %}
                  {% endcapture %}

                  {% if mega_menu_snippet != blank %}
                    {{ mega_menu_snippet }}
                  {% else %}
                    <li class="header__menu-item header__menu-item--mobile">
                      <a class="header__menu-item-link header__menu-item-link--mobile" href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </nav>

      <div class="header__logo-wrapper">
        {% if request.page_type == 'index' %}
          <h1 class="header__heading">
          {% endif %}
          <a href="{{ routes.root_url }}" class="header__logo-link">
            {% if logo != blank %}
              {{ logo | image_url: width: section.settings.width | image_tag: 
               class: 'header__logo',
               widths: '50, 100, 150, 200, 250, 300, 400, 500',
               height: logo_height,
               width: logo_width,
               alt: logo_alt }}
            {% else %}
              <span class="h2">{{ shop.name }}</span>
            {% endif %}
          </a>
          {% if request.page_type == 'index' %}
          </h1>
        {% endif %}
      </div>

      <nav class="header__menu header__menu--right">
        <ul class="header__menu-list">
          <li class="header__menu-item header__menu-item--search">
            <a href="#" class="header__menu-item-link">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span class="header__menu-item-text">Search</span>
            </a>
          </li>
          {% if shop.customer_accounts_enabled %}
            <li class="header__menu-item">
              <a class="header__menu-item-link" href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="header__menu-item-text">
                  {% liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif 
                  %}
                </span>
              </a>
            </li>
          {% endif %}
          <li class="header__menu-item">
            <a href="#" class="header__menu-item-link">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              <span class="header__menu-item-text">Cart</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</sticky-header>

<script src="{{ 'section-header.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'bodyScrollLock.min.js' | asset_url }}" defer="defer"></script>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append: 'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
  {{ settings.social_twitter_link | json }}
  {{ settings.social_facebook_link | json }}
  {{ settings.social_pinterest_link | json }}
  {{ settings.social_instagram_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
  }

</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
            "@type": "WebSite",
            "name": {{ shop.name | json }},
    "potentialAction": {
              "@type": "SearchAction",
              "target": {{ potential_action_target | json }},
    "query-input": "required name=search_term_string"
            },
            "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "px",
        "label": "Custom logo width"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Menu"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      }, {
        "type": "color",
        "id": "badge_color",
        "label": "Badge color"
      }, {
        "type": "color",
        "id": "search_background_color",
        "label": "Search background color"
      }, {
        "type": "checkbox",
        "id": "enable_sticky_header",
        "default": true,
        "label": "Enable sticky header",
        "info": "Header shows on the screen as customers scroll up."
      }
    ]
  }
{% endschema %}